SmartParking-NodeRed.json
[
    {
        "id": "a03162c3eeb113f1",
        "type": "tab",
        "label": "Smart Parking",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d603d93ede21d383",
        "type": "inject",
        "z": "a03162c3eeb113f1",
        "name": "Sensor-Detection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "str",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "46fdd3b55d9023bd"
            ]
        ]
    },
    {
        "id": "35f9e59b97c5637d",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set Status",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking1/Status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 610,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "46fdd3b55d9023bd",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "",
        "func": "if(msg.payload <= 15){\n    msg.payload = 0;\n\n    return msg;\n}\nif(msg.payload >15){\n    msg.payload = 1\n\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "35f9e59b97c5637d",
                "4a4adcf024df1d49",
                "c3466873aca180a3"
            ]
        ]
    },
    {
        "id": "4a4adcf024df1d49",
        "type": "switch",
        "z": "a03162c3eeb113f1",
        "name": "Capture License",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "3feb157066a5e5f5"
            ],
            [
                "a707c97dee96f326"
            ]
        ]
    },
    {
        "id": "a707c97dee96f326",
        "type": "http request",
        "z": "a03162c3eeb113f1",
        "name": "car 1",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://platerecognizer.com/wp-content/uploads/2020/07/Blur-license-plates.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 870,
        "y": 260,
        "wires": [
            [
                "6a4311dcef18f990",
                "3074ccc13bf368a3"
            ]
        ]
    },
    {
        "id": "6a4311dcef18f990",
        "type": "plate-recognizer",
        "z": "a03162c3eeb113f1",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": false,
        "makeAndModel": false,
        "statusText": "plates",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "",
        "regionListType": "json",
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "6a28eb6b6d084730"
            ],
            []
        ]
    },
    {
        "id": "3074ccc13bf368a3",
        "type": "image",
        "z": "a03162c3eeb113f1",
        "name": "Show analyzed image",
        "width": "400",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1240,
        "y": 300,
        "wires": []
    },
    {
        "id": "a50ca2d02f0dfde0",
        "type": "debug",
        "z": "a03162c3eeb113f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 260,
        "wires": []
    },
    {
        "id": "6a28eb6b6d084730",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "LPN_Parsed",
        "func": "msg.payload = msg.payload.results[0].plate.toUpperCase()\n\nvar date = new Date();\ndate = String(date)\ndate = date.slice(0,-31)\nmsg.LPN = \"Parking 1: Car with license number:\" + msg.payload +\" Parked at \" + date \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 260,
        "wires": [
            [
                "a50ca2d02f0dfde0",
                "f17ccf4e422331e6",
                "59a9bd3c599b5a50",
                "d0159665937b355b"
            ]
        ]
    },
    {
        "id": "f17ccf4e422331e6",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set License",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking1/License",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1690,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3feb157066a5e5f5",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set License",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking1/License",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 890,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "59a9bd3c599b5a50",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "",
        "func": "\n\nmsg.payload = msg.LPN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c3466873aca180a3",
        "type": "ui_gauge",
        "z": "a03162c3eeb113f1",
        "name": "",
        "group": "2e1a51a1bec22630",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Parking Status",
        "label": " Car",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "d0159665937b355b",
        "type": "ui_text",
        "z": "a03162c3eeb113f1",
        "group": "2e1a51a1bec22630",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Car License Number is",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1740,
        "y": 400,
        "wires": []
    },
    {
        "id": "d03b67fc2e21f39e",
        "type": "inject",
        "z": "a03162c3eeb113f1",
        "name": "Sensor-Detection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "9414d9c4e5517bb7"
            ]
        ]
    },
    {
        "id": "014cf3a4440b8158",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set Status",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking2/Status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9414d9c4e5517bb7",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "",
        "func": "if(msg.payload <= 15){\n    msg.payload = 0;\n\n    return msg;\n}\nif(msg.payload >15){\n    msg.payload = 1\n\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 520,
        "wires": [
            [
                "014cf3a4440b8158",
                "3a436bb1b842b6cb",
                "1acd7afeeb93d53f"
            ]
        ]
    },
    {
        "id": "3a436bb1b842b6cb",
        "type": "switch",
        "z": "a03162c3eeb113f1",
        "name": "Capture License",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "d169c6b5fc52c58f"
            ],
            [
                "cb201e76515cf870"
            ]
        ]
    },
    {
        "id": "cb201e76515cf870",
        "type": "http request",
        "z": "a03162c3eeb113f1",
        "name": "car 1",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://platerecognizer.com/wp-content/uploads/2020/07/Blur-license-plates.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 870,
        "y": 600,
        "wires": [
            [
                "f81466414453a982",
                "e3ac730d61d437c7"
            ]
        ]
    },
    {
        "id": "f81466414453a982",
        "type": "plate-recognizer",
        "z": "a03162c3eeb113f1",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": false,
        "makeAndModel": false,
        "statusText": "plates",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "",
        "regionListType": "json",
        "x": 1220,
        "y": 600,
        "wires": [
            [
                "168958d27ea4260a"
            ],
            []
        ]
    },
    {
        "id": "e3ac730d61d437c7",
        "type": "image",
        "z": "a03162c3eeb113f1",
        "name": "Show analyzed image",
        "width": "400",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1240,
        "y": 640,
        "wires": []
    },
    {
        "id": "f614fc6792f5ceac",
        "type": "debug",
        "z": "a03162c3eeb113f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 600,
        "wires": []
    },
    {
        "id": "168958d27ea4260a",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "LPN_Parsed",
        "func": "msg.payload = msg.payload.results[0].plate.toUpperCase()\n\nvar date = new Date();\ndate = String(date)\ndate = date.slice(0,-31)\nmsg.LPN = \"Parking 1: Car with license number:\" + msg.payload +\" Parked at \" + date \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 600,
        "wires": [
            [
                "f614fc6792f5ceac",
                "dae6da7abcdb093c",
                "2aac69eaa419e62b",
                "7f1cca4bfcc9f03d"
            ]
        ]
    },
    {
        "id": "dae6da7abcdb093c",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set License",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking2/License",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1690,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d169c6b5fc52c58f",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set License",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking2/License",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 890,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "2aac69eaa419e62b",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "",
        "func": "\n\nmsg.payload = msg.LPN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "1acd7afeeb93d53f",
        "type": "ui_gauge",
        "z": "a03162c3eeb113f1",
        "name": "",
        "group": "98d5837eef3991ef",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Parking Status",
        "label": " Car",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "7f1cca4bfcc9f03d",
        "type": "ui_text",
        "z": "a03162c3eeb113f1",
        "group": "98d5837eef3991ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Car License Number is",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1740,
        "y": 740,
        "wires": []
    },
    {
        "id": "565b333bb5c8a330",
        "type": "inject",
        "z": "a03162c3eeb113f1",
        "name": "Sensor-Detection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 220,
        "y": 860,
        "wires": [
            [
                "b40bc0887ce08d10"
            ]
        ]
    },
    {
        "id": "84a1b77baf2b5441",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set Status",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking3/Status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 610,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b40bc0887ce08d10",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "",
        "func": "if(msg.payload <= 15){\n    msg.payload = 0;\n\n    return msg;\n}\nif(msg.payload >15){\n    msg.payload = 1\n\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "84a1b77baf2b5441",
                "ed2f58e1824fd7df",
                "f885bea4aaa7f8d1"
            ]
        ]
    },
    {
        "id": "ed2f58e1824fd7df",
        "type": "switch",
        "z": "a03162c3eeb113f1",
        "name": "Capture License",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 920,
        "wires": [
            [
                "40fac1144a7e120e"
            ],
            [
                "4cae127a2835d3b9"
            ]
        ]
    },
    {
        "id": "4cae127a2835d3b9",
        "type": "http request",
        "z": "a03162c3eeb113f1",
        "name": "car 1",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://platerecognizer.com/wp-content/uploads/2020/07/Blur-license-plates.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 870,
        "y": 940,
        "wires": [
            [
                "f518efae2a0d1583",
                "c09cf45f68bc1041"
            ]
        ]
    },
    {
        "id": "f518efae2a0d1583",
        "type": "plate-recognizer",
        "z": "a03162c3eeb113f1",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": false,
        "makeAndModel": false,
        "statusText": "plates",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "",
        "regionListType": "json",
        "x": 1220,
        "y": 940,
        "wires": [
            [
                "e7fd564f3265409d"
            ],
            []
        ]
    },
    {
        "id": "c09cf45f68bc1041",
        "type": "image",
        "z": "a03162c3eeb113f1",
        "name": "Show analyzed image",
        "width": "400",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1240,
        "y": 980,
        "wires": []
    },
    {
        "id": "45d5e98bd84fcad8",
        "type": "debug",
        "z": "a03162c3eeb113f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 940,
        "wires": []
    },
    {
        "id": "e7fd564f3265409d",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "LPN_Parsed",
        "func": "msg.payload = msg.payload.results[0].plate.toUpperCase()\n\nvar date = new Date();\ndate = String(date)\ndate = date.slice(0,-31)\nmsg.LPN = \"Parking 1: Car with license number:\" + msg.payload +\" Parked at \" + date \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 940,
        "wires": [
            [
                "45d5e98bd84fcad8",
                "c18248f18958017a",
                "966d5455e580f48a",
                "ec5cd8c262f8fd1e"
            ]
        ]
    },
    {
        "id": "c18248f18958017a",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set License",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking3/License",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1690,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "40fac1144a7e120e",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set License",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking3/License",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 890,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "966d5455e580f48a",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "",
        "func": "\n\nmsg.payload = msg.LPN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "f885bea4aaa7f8d1",
        "type": "ui_gauge",
        "z": "a03162c3eeb113f1",
        "name": "",
        "group": "c6215ddc2373d9b0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Parking Status",
        "label": " Car",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 620,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ec5cd8c262f8fd1e",
        "type": "ui_text",
        "z": "a03162c3eeb113f1",
        "group": "c6215ddc2373d9b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Car License Number is",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1740,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4f1188d56f69e27d",
        "type": "inject",
        "z": "a03162c3eeb113f1",
        "name": "Sensor-Detection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 220,
        "y": 1200,
        "wires": [
            [
                "e68caefd968dade2"
            ]
        ]
    },
    {
        "id": "b9f6f2931ba21a61",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set Status",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking4/Status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 610,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "e68caefd968dade2",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "",
        "func": "if(msg.payload <= 15){\n    msg.payload = 0;\n\n    return msg;\n}\nif(msg.payload >15){\n    msg.payload = 1\n\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "b9f6f2931ba21a61",
                "87c4ab2ff7bbc4b4",
                "f461752be320549f"
            ]
        ]
    },
    {
        "id": "87c4ab2ff7bbc4b4",
        "type": "switch",
        "z": "a03162c3eeb113f1",
        "name": "Capture License",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 1260,
        "wires": [
            [
                "e768a9b6fd47da3e"
            ],
            [
                "cd99fb51896fe4a2"
            ]
        ]
    },
    {
        "id": "cd99fb51896fe4a2",
        "type": "http request",
        "z": "a03162c3eeb113f1",
        "name": "car 1",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://platerecognizer.com/wp-content/uploads/2020/07/Blur-license-plates.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 870,
        "y": 1280,
        "wires": [
            [
                "9f041c998f35cfb2",
                "6327a21dd3c7a287"
            ]
        ]
    },
    {
        "id": "9f041c998f35cfb2",
        "type": "plate-recognizer",
        "z": "a03162c3eeb113f1",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": false,
        "makeAndModel": false,
        "statusText": "plates",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "",
        "regionListType": "json",
        "x": 1220,
        "y": 1280,
        "wires": [
            [
                "bb4ca8468ab4357e"
            ],
            []
        ]
    },
    {
        "id": "6327a21dd3c7a287",
        "type": "image",
        "z": "a03162c3eeb113f1",
        "name": "Show analyzed image",
        "width": "400",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1240,
        "y": 1320,
        "wires": []
    },
    {
        "id": "dbdb24bd4cd6e448",
        "type": "debug",
        "z": "a03162c3eeb113f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 1280,
        "wires": []
    },
    {
        "id": "bb4ca8468ab4357e",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "LPN_Parsed",
        "func": "msg.payload = msg.payload.results[0].plate.toUpperCase()\n\nvar date = new Date();\ndate = String(date)\ndate = date.slice(0,-31)\nmsg.LPN = \"Parking 1: Car with license number:\" + msg.payload +\" Parked at \" + date \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1280,
        "wires": [
            [
                "dbdb24bd4cd6e448",
                "449b6bbd31842452",
                "2c5e07de79c89ce5",
                "8c808aa32c5f7c21"
            ]
        ]
    },
    {
        "id": "449b6bbd31842452",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set License",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking4/License",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1690,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "e768a9b6fd47da3e",
        "type": "firebase modify",
        "z": "a03162c3eeb113f1",
        "name": "Set License",
        "firebaseconfig": "",
        "childpath": "SmartParking/Parking4/License",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 890,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "2c5e07de79c89ce5",
        "type": "function",
        "z": "a03162c3eeb113f1",
        "name": "",
        "func": "\n\nmsg.payload = msg.LPN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "f461752be320549f",
        "type": "ui_gauge",
        "z": "a03162c3eeb113f1",
        "name": "",
        "group": "27e05a246123cda6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Parking Status",
        "label": " Car",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 620,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8c808aa32c5f7c21",
        "type": "ui_text",
        "z": "a03162c3eeb113f1",
        "group": "27e05a246123cda6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Car License Number is",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1740,
        "y": 1420,
        "wires": []
    },
    {
        "id": "2e1a51a1bec22630",
        "type": "ui_group",
        "name": "First Parking",
        "tab": "d338eebb.4a506",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98d5837eef3991ef",
        "type": "ui_group",
        "name": "Second Parking",
        "tab": "d338eebb.4a506",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6215ddc2373d9b0",
        "type": "ui_group",
        "name": "Third Parking",
        "tab": "d338eebb.4a506",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27e05a246123cda6",
        "type": "ui_group",
        "name": "Fourth Parking",
        "tab": "d338eebb.4a506",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d338eebb.4a506",
        "type": "ui_tab",
        "name": "Smart Parking",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]